<!doctype html>
<html lang="en">
<% include page_head.ejs %>

  <body id="page-top" class="center-block text-center">

      
      <% include page_navbar.ejs %>

      <% include page_header.ejs %>

      <%- body %>

      <% include page_footer.ejs %>


    <% include default_script.ejs %>
    <%- script %>

  </body>

</html>