<!-- Head -->

<head>

    <meta charset="utf-8">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
    <title>SafeDisk</title>

    <% include default_css.ejs %>
        <%- style %>

</head>