<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <p class="panel-title text-center">
                <a style="font-size: 36px;">User information</a>
            </p>
        </div>
        <table class="table table-bordered table-hover table-striped w">
            <tr>
                <td class="col-sm-4">
                    <h4>User Name：</h4>
                </td>
                <td class="col-sm-8">
                    <h4 id="name">NULL</h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>User Email：</h4>
                </td>
                <td>
                    <h4 id="email">NULL</h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>User Phone：</h4>
                </td>
                <td>
                    <h4 id="phone">NULL</h4>
                </td>
            </tr>
        </table>
    </div>
</div>

<link rel="stylesheet" href="../stylesheets/userInfo.css">

<script src="../js/userInfo_datatable.js" rel="js" type="text/javascript"></script>